# Requires version: 3.10.x > Python  < 3.12.x

numpy==2.2.6             # Data arrays
opencv-python==4.11.0.86 # Image processing
scipy-stubs[scipy]       # ==1.16.0
scikit-image==0.25.2     # Image processing (?!)
scikit-learn==1.7        # Machine learning (?!)
matplotlib==3.10.0       # Plotting visualization (?!)
pytesseract==0.3.13      # OCR (?!)
cython==3.1.2            # C code and library injection
screeninfo==0.8.1        # Screen resolution for display
numba==2.2.6             # Pre-compile & parallelization