numpy==2.2.6             # Data arrays
opencv-python==4.11.0.86 # Image processing
scipy-stubs[scipy]       # ==1.16.0
scikit-image==0.25.2     # Image processing (?!)
scikit-learn==1.7        # Machine learning (?!)
matplotlib==3.10.0       # Plotting visualization (?!)